@import './css/normalize';
@import './scss/base/colors';
@import './scss/base/mixin';
@import './scss/base/fonts';
@import './scss/base/layout';
@import './scss/base/form';
@import './scss/modules/diamond';
:root {
  font-size: 16px;
  @media all and (max-width: 768px) {
    font-size: 12px;
  }
  @media all and (max-width: 468px) {
    font-size: 8px;
  }
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.diamond {
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   width: 100%;
   box-sizing: border-box;
}
.diamond__shape {
    background: red;
    text-align: center;
    transform:rotate(45deg);
    width:30%;
    margin-top: -15%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    &:after {
      content: '';
      display: block;
      padding-top: 100%;
    }
}
.diamond__item-count {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  margin: 15px 0 0 15px;
  font-size: 15rem;
  line-height: 0;
  box-sizing: border-box;
}